<app-header></app-header>

<div class="content-wrapper">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
    <!--<div class="row">
      <div class="col-12">
        <h1>Blank</h1>
        <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>
      </div>
    </div>-->
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <app-footer></app-footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>