@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./font-awesome.min.css";
@import "./compodoc.css";
@import "./prism.css";
@import "./tablesort.css";

.menu {
    background: url(img/cup.png) no-repeat;
    background-size: 180px;
    background-position-x: 50%;
    background-position-y: 2%;
}

.menu ul.list {
    background: whitesmoke;
}

.menu .title {
    padding: 8px 0;
    margin-top: 215px;
}

/*####################################################*/
/*          CUSTOM THEME OPTIONS
/*####################################################*/

/* Estilo de la sección del título */
.title {
    background: red;
}

/* Estilo de la sección de búsqueda */
#book-search-input {
    background: greenyellow
}

/* Cambio de apariencia en el menú principal */
.menu ul.list {
    background: aliceblue;
}