.img-responsive {
  max-height: 25px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  margin-top: -7px;
}

.dropdown-menu {
  right: 0;
  left:auto;
}
