/**
Sta
https://www.w3schools.com/colors/colors_names.asp
**/
:root {
    /******************/
    --alice-blue: #f0f8ff;
    --antique-white: #faebd7;
    --aqua: #00ffff;
    --aqua-marine: #7fffd4;
    --azure: #f0ffff;
    --beige: #f5f5dc;


    /*** Buttons colors **************/
    --btn-default-background: #f0f0f0;
    /****BOOSTRAP V4 ALERTS**********/
    --alert-primary: #0c5460;
    --alert-secondary: #383d41;
    --alert-success: #155724;
    --alert-danger:#721c24;
    --alert-warning: #856404;
    --alert-info: #0c5460;
    --alert-light: #818182;
    --alert-dark: #1b1e21;
}
