<!--<div class="card mb-3 animated fadeIn" *ngIf="showInfo">
<div class="card-header">
    <i class="fa fa-table"></i> Drivers List to {{ selectYear }} season
  </div>-->
  <!--<div class="card-body table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" colspan="2">Driver</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Nationality</th>
          <th scope="col">More info</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-driver [ngForOf]="driversList" let-i="index">
          <tr class="animated fadeIn">
            <td><strong>#{{ driver.permanentNumber }} </strong></td>
            <td>
              <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/{{driver.driverId}}.png" 
              default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"/>
              {{driver.givenName}} {{driver.familyName}}  
            </td>
            <td align="center">{{driver.dateOfBirth}}</td>
            <td align="center">
              <img src="https://mugan86.com/amugika/img/f1/flags/small/{{driver.nationality}}.png" default="../../../assets/img/Unknown.png"
              />
            </td>
            <td>
              <a href="{{driver.url}}" title="Web browser version">
                <img src="../../../assets/internet.png" />
              </a>
              <a href="{{driver.url | wikipediaUrlMobile}}" title="Mobile version">
              <img src="../../../assets/mobile.png" />
              </a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>-->

<div class="card-columns animated fadeIn">
  <ng-template ngFor let-driver [ngForOf]="driversList" let-i="index">
    <div class="card">
      <div class="card-body">
        <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/{{driver.driverId}}.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
        />&nbsp;
        <img src="https://mugan86.com/amugika/img/f1/flags/small/{{driver.nationality}}.png" default="../../../assets/img/Unknown.png"
        />&nbsp;<strong>#{{ driver.permanentNumber }} </strong>
        <h5 class="card-title">{{driver.givenName}} {{driver.familyName}}</h5>
        <p class="card-text">
          <span>{{driver.dateOfBirth}}</span><br/>
          <a href="{{driver.url}}" title="Web browser version" target="_blank">
            <img src="../../../assets/internet.png" />
          </a>
          <a href="{{driver.url | wikipediaUrlMobile}}" target="_blank" title="Mobile version">
            <img src="../../../assets/mobile.png" />
          </a>
        </p>
        <!--<p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>-->
      </div>
    </div>
  </ng-template>
</div>
