<p>
  client works!
</p>
<div class="card mb-3" *ngIf="showInfo">
  <div class="card-header">
    <i class="fa fa-table"></i> Client List
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name / Lastname</th>
          <th scope="col">DNI - NIF</th>
          <th scope="col">Mail</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-client [ngForOf]="clientsList" let-i="index">
          <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{client.name}} {{client.lastname}}</td>
            <td>{{client.dni}}</td>
            <td>{{client.email}}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" >
          <a class="page-link" [ngClass]="{ 'disabled': currentPage == 1 }"(click)="selectPage(currentPage - 1)" tabindex="-1">Previous</a>
        </li>
        <ng-template ngFor let-page [ngForOf]="pages" let-i="index">
          <li class="page-item">
            <a class="page-link" [ngClass]="{'select': currentPage == i + 1}" (click)="selectPage(i + 1)">{{ i + 1}}</a>
          </li>
        </ng-template>
        <li class="page-item">
          <a class="page-link" [ngClass]="{'disabled': currentPage == pages.length }" (click)="selectPage(currentPage + 1)" >Next</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

