@import "ngx-easy-table/style.css";
/* You can add global styles to this file, and also import other style files */
.card {
    margin-bottom: 25px;
}

.profile-photo {
    max-height: 25px;
    transition: 0.5s;
    border-radius: 50%;
    margin-top: -7px;
}
