@import "ngx-easy-table/style.css";
/* You can add global styles to this file, and also import other style files */
.card {
    margin-bottom: 25px;
}

.profile-photo {
    max-height: 25px;
    transition: 0.5s;
    border-radius: 50%;
    margin-top: -7px;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}