<p *ngIf="user != null">
  Welcome {{ user.name }} {{ user.lastname }} !!!
</p>
<div class="row">
  <div class="col-lg-6">
    <div class="card-columns animated fadeIn">
      <div class="card">
        <div class="card-body">
          <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
          />&nbsp;
          <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
          <h5 class="card-title">-</h5>
          <p class="card-text">
            Text
          </p>
          <!--<p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>-->
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
          />&nbsp;
          <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
          <h5 class="card-title">-</h5>
          <p class="card-text">
            Text
          </p>
          <!--<p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>-->
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
          />&nbsp;
          <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
          <h5 class="card-title">-</h5>
          <p class="card-text">
            Text
          </p>
          <!--<p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Next Races</div>
  <div class="card-body">
      <div class="card-columns animated fadeIn">
        <div class="card">
          <div class="card-body">
            <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
            />&nbsp;
            <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
            <h5 class="card-title">-</h5>
            <p class="card-text">
              Text
            </p>
            <!--<p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>-->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
            />&nbsp;
            <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
            <h5 class="card-title">-</h5>
            <p class="card-text">
              Text
            </p>
            <!--<p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </p>-->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="profile-photo" src="https://mugan86.com/amugika/img/f1/drivers/alonso.png" default="https://raw.githubusercontent.com/mugan86/udemy-0-to-expert-angular/master/04_spotifyApp/src/assets/img/noimage.png"
            />&nbsp;
            <img src="https://mugan86.com/amugika/img/f1/flags/small/Spain.png" default="../../../assets/img/Unknown.png" />&nbsp;
            <h5 class="card-title">-</h5>
            <p class="card-text">
              Text
            </p>
            <!--<p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </p>-->
          </div>
        </div>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
  </div>
</div>



